.events {
  color: #1E212C;
  margin-bottom: 120px;
  background-image: url('../../assets/background-3.png');
  background-position: center;
  background-size: cover;
  font-weight: 700;
}

.events__inner {
  text-align: center;
  padding-top: 80px;  
}

.events__subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.events__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
}

.events__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}

.events__box-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding: 32px 40px;
  border-radius: 4px;
  transition: .3s all;
}

.events__box-item:hover {
  transition: .3s all;
  box-shadow: 0 10px 30px -1px rgba(255, 63, 58, 0.2);
  scale: 1.04;
}

.event__box-item-left {
  display: flex;
  gap: 40px;
}

.events__box-item-day {
  color: #FF3F3A;
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: -20px;
}

.events__box-item-date-month {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 4px;
}

.events__box-item-date-time,
.event__box-item-info-about {
  color: #787A80;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.events__box-item-info-text {
font-size: 20px;
line-height: 150%;
}

.event__box-item-link {
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  padding: 10px 32px;
  transition: .3s all;
}

.event__box-item-link:hover {
  transition: .3s all;
  color: #fff;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
}

.events__explore {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  font-weight: 700;
  padding-bottom: 80px;
}

.events__explore-title {
  font-size: 28px;
  line-height: 150%;
}

.event__explore-link {
  color:#FFF;
  text-align: center;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  padding: 5px 40px;
  background: linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
}