.team {
  background-image: url('../../assets/main-images/Background-team.png');
  color: #1E212C;
}

.team__inner {
  padding-top: 200px;
}

.team__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.team__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
}

.team__members {
  display: flex;
  gap: 30px;
  margin-bottom: 180px;
}

.team__members-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__members-item-wrapper {
  border-radius: 4px;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}

.team__members-item-wrapper::after {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.team__members-item-link {
  display: none;
  position: absolute;
  opacity: 0.5;
  z-index: 101;
  bottom: 0;
  right: 0;
}

.team__members-item-link:hover {
  opacity: 1;
}

.team__members-item-link:nth-child(1) {
  bottom: 20px;
  right: 20px;
}

.team__members-item-link:nth-child(2) {
  bottom: 20px;
  right: 50px;
}

.team__members-item-link:nth-child(3) {
  bottom: 21px;
  right: 85px;
}

.team__members-item-wrapper:hover .team__members-item-link {
  display: block;
}

.team__members-item-wrapper:hover::after {
  opacity: 1;
}

.team__members-item-name {
  margin-bottom: 4px;
  color: #424551;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.team__members-item-role {
  color: #787A80;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.team__quote-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.team__quote-title {
  font-size: 46px;
  text-align: center;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
}

.quote {
  max-width: 1020px;
  padding: 64px 105px 64px 170px;
  border-radius: 4px;
  background: #FFF;
  margin-bottom: 60px;
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.team__quote-text {
  position: relative;
  color: #424551;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}

.team__quote-text::before {
  position: absolute;
  content: "";
  background-image: url(/src/assets/icons/braces.svg);
  width: 28px;
  height: 20px;
  top: 3px;
  left: -60px;
}

.team__quote-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.team__quote-box-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}

.team__quote-box-role {
  color: #787A80;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.team__slider-buttons {
  display: flex;
  gap: 9px;
  justify-self: center;
  padding-bottom: 100px;
}

.team__slider-buttons-btn {
  border-radius: 4px;
  border: none;
  background: #B3B7BC;
  padding: 1px 15px;
  cursor: pointer;
}

.team__slider-buttons-btn.active__btn {
  background: #424551;
}

.quote__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quote__navigation {
  position: absolute;

}

.quote__navigation.left,
.quote__navigation.right {
  top: 170px;
}

.quote__navigation.left {
  left: 9px;

}

.quote__navigation.right {
  right: 13px;
}

.quote__navigation:hover {
  padding: 15px 12px;
  border-radius: 100%;
  background-color: #FF3F3A;
}

.quote__navigation.left:hover {
  content: url('/src/assets/icons/arrow-left-white.svg');
  top: 160px;
  left: 0;
}


.quote__navigation.right:hover {
  content: url('/src/assets/icons/arrow-right-white.svg');
  top: 160px;
  right: 0;
}