.about-us {
  color: #1E212C;
  margin-bottom: 180px;
}

.about-us__inner {
  display: flex;
  justify-content: space-between;
}

.about-us__left {
  max-width: 600px;
}

.about-us__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about-us__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 48px;
}

.about-us__main-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.about-us__text {
  color: #424551;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 60px;
}

.about-us__buttons {
  display: flex;
  gap: 24px;
}

.about-us__buttons-explore {
  border: 1px solid var(--btn-gradient, #FF3F3A);
  color: #FF3F3A;
}

.about-us__buttons-browse {
  color: #fff;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
}

.about-us__buttons-browse,
.about-us__buttons-explore {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  padding: 0 40px;
}

.about-info {
  color: #1E212C;
}

.about-info__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-info__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-info__watch {
  position: relative;
  margin-bottom: 48px;
  padding-left: 68px;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.about-info__watch::before {
  content: '';
  position: absolute;
  background-image: url('/src/assets/main-images/play-btn-small.svg');
  width: 52px;
  height: 52px;
  top: -15px;
  left: 0;
}

.about-info__right {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.about-info__right-students,
.about-info__right-courses,
.about-info__right-tutors,
.about-info__right-experience {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.about-info__right-students::before {
  position: absolute;
  content: '1200';
  font-size: 48px;
  color: #FF3F3A;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  top: -16px;
  left: -127px;
}

.about-info__right-courses::before {
  position: absolute;
  content: '84';
  font-size: 48px;
  color: #FF3F3A;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  top: -16px;
  left: -70px;
}

.about-info__right-tutors::before {
  position: absolute;
  content: '16';
  font-size: 48px;
  color: #FF3F3A;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  top: -16px;
  left: -70px;
}

.about-info__right-experience::before {
  position: absolute;
  content: '5';
  font-size: 48px;
  color: #FF3F3A;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  top: -16px;
  left: -40px;
}

.our-way {
  background-image: url('/src/assets/main-images/about-us-background.png');
  color: #1E212C;
  padding-top: 180px;
}

.out-way__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.our-way__title {
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
}
.our-way__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.our-way__box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 45px;
}

.our-way__box-item:nth-child(4) {
  border: none;
  padding-right: 0;
}

.our-way__box-item-image {
  margin-bottom: 24px;
}

.our-way__box-item-tile {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}
.our-way__box-item-text {
  text-align: center;
  color: #787A80;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.our-direct {
  margin-bottom: 180px;
}

.our-direct__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}

.our-direct-title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  text-align: center;
  margin-bottom: 60px;
}

.our-direct__box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.our-direct__box-item {
  max-width: 390px;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background: #FFF;
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.our-direct__box-item-content-box {
  padding: 24px;
}

.our-direct__box-item-name {
  display: inline-block;
  padding: 1px 8px;
  border-radius: 4px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 21px;
}

.our-direct__box-item-text {
  color: #787A80;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20px;
}

.our-direct__box-item-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  position: relative;
  transition: .2s all;
}

.our-direct__box-item-button:hover {
  color: #FF3F3A;
}

.our-direct__box-item-button::after {
  content: '';
  position: absolute;
  background-image: url('/src/assets/icons/arrow-right-orange.svg');
  top: -1px;
  right: -35px;
  width: 25px;
  height: 30px;
}

.our-direct__box-last-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 390px;
  border-radius: 4px;
  background: #F4F5F6;
  padding: 164px 74px 196px 74px;
}

.our-direct__box-last-item-text {
  color: #424551;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  max-width: 242px;
  text-align: center;
}

.process {
  margin-bottom: 180px;
}

.process__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.process__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
}

.process__inner {
  display: flex;
  justify-content: space-between;
}

.process__left {
  position: relative;
  padding-left: 48px;
  padding-top: 60px;
}

.process__left::before {
  content: '';
  background-image: url('/src/assets/icons/process-line.svg');
  position: absolute;
  width: 12px;
  height: 531px;
  top: 58px;
  left: 0;
}

.process__left-item {
  margin-bottom: 32px;
  max-width: 446px;
}

.process__left-item:last-child {
  margin-bottom: 0;
}

.process__left-item-step {
  color: #787A80;
  font-size: 12px;
  font-weight: 900;
  line-height: 150%;
}

.process__left-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}

.process__left-item-text {
  color: #787A80;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.our-team__subtitle {
  color: #1E212C;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.our-team__title {
  color: #1E212C;
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
}

.our-team__box {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.our-team__box-item {
  margin-bottom: 60px;
}

.team__members-item .our-team__box-item {
  margin-bottom: 60px;
}

.our-team {
  margin-bottom: 60px;
}

.reviews {
  margin-bottom: 100px;
  background-image: url('/src/assets/main-images/Background-reviews.png');
}

.reviews-testimonals__wrapper {
  padding-top: 100px;
}

.reviews__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
  padding-top: 80px;
}

.reviews__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
  text-align: center;
}

.reviews__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 95px;
  padding-bottom: 100px;
}

.reviews__box-img {
  filter: grayscale(100%);
}

.reviews__box-img:hover {
  scale: 1.2;
}

.posts__box.latest__posts-box {
  margin-bottom: 180px;
}
